@charset "UTF-8";

body {
	font-family: "Lato", sans-serif;
}

.main-head {
	height: 150px;
	background: #FFF;
}

.sidenav {
	height: 100%;
	background-color: #219dcb;
	overflow-x: hidden;
	padding-top: 20px;
}

.main {
	padding: 0px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
}

@media screen and (max-width: 450px) {
	.login-form {
		margin-top: 10%;
	}
}

@media screen and (min-width: 768px) {
	.main {
		margin-left: 40%;
	}
	.sidenav {
		width: 40%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.login-form {
		margin-top: 80%;
	}
}

.login-main-text {

	text-align : center;
	padding: 60px;
	color: #000;
}
.login-main-text h1 {
	font-weight: 500;
}

.login-main-text h2 {
	font-weight: 500;
	margin-bottom: 20;
}

.btn-login {
	background-color: #219dcb !important;
	color: #000;
}